<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :idade %>
    <%= form.number_field :idade %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :informacoes %>
    <%= form.text_area :informacoes %>
  </div>

  <div class="field">
    <%= form.label :cidade_desap %>
    <%= form.text_field :cidade_desap %>
  </div>

  <div class="field">
    <%= form.label :uf_desap %>
    <%= form.text_field :uf_desap %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select([['Perdido', 1], ['Comunicado', 2], ['Encontrado', 3]])) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
