<p id="notice"><%= notice %></p>

<div style="width:300px; height: auto" class="img-thumbnail">
  <%= link_to image_tag(@animal.image, style:'width=100%'), animals_path %>
</div>

<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @animal.idade %>
</p>


<p>
  <strong>Informacoes:</strong>
  <%= @animal.informacoes %>
</p>

<p>
  <strong>Cidade desap:</strong>
  <%= @animal.cidade_desap %>
</p>

<p>
  <strong>Uf desap:</strong>
  <%= @animal.uf_desap %>
</p>

<p>
  <strong>Status:</strong>
  <%= if @animal.status == 1
        'Perdido'
      elsif @animal.status == 2
        'Comunicado'
      else
        'Encontrado'                
  end  %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
