<%= form_with(model: comunicado, local: true) do |form| %>
  <% if comunicado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comunicado.errors.count, "error") %> prohibited this comunicado from being saved:</h2>

      <ul>
        <% comunicado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :informacoes %>
    <%= form.text_area :informacoes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
