<p id="notice"><%= notice %></p>

<h1>Comunicados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Informacoes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comunicados.each do |comunicado| %>
      <tr>
        <td><%= comunicado.nome %></td>
        <td><%= comunicado.telefone %></td>
        <td><%= comunicado.informacoes %></td>
        <td><%= link_to 'Show', comunicado %></td>
        <td><%= link_to 'Edit', edit_comunicado_path(comunicado) %></td>
        <td><%= link_to 'Destroy', comunicado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comunicado', new_comunicado_path %>
